<template name="azimuthArray">
  <div class="azimuth-array {{name}}">
    <label>{{label}}</label>

    <table>
      <tr class="labels">
        <td>0/360&degrees;</td>
        <td>45&degrees;</td>
        <td>90&degrees;</td>
        <td>135&degrees;</td>
        <td>180&degrees;</td>
        <td>225&degrees;</td>
        <td>270&degrees;</td>
        <td>315&degrees;</td>
      </tr>
      <tr class="values">
        <td><input type="text" name="azimuth_0"/></td>
        <td><input type="text" name="azimuth_45"/></td>
        <td><input type="text" name="azimuth_90"/></td>
        <td><input type="text" name="azimuth_135"/></td>
        <td><input type="text" name="azimuth_180"/></td>
        <td><input type="text" name="azimuth_225"/></td>
        <td><input type="text" name="azimuth_270"/></td>
        <td><input type="text" name="azimuth_315"/></td>
      </tr>
    </table>

  </div>
</template>