<template name="design">
  <div class="design container">
    <div class="sidebar">
      <div class="default panel">
        <div class="title">Entities</div>
        <div class="items entities">
          {{> collectionTable collection="Entities" items=entities settings=tableSettings}}
        </div>
        <div class="title">Typologies</div>
        <div class="items typologies">
          {{> collectionTable collection="Typologies" items=typologies settings=tableSettings}}
        </div>
        <div class="title">Lots</div>
        <div class="items lots">
          {{> collectionTable collection="Lots" items=lots settings=tableSettings}}
          <div class="extra menu">
            {{> dropdown name="displayMode" items=displayModes value=defaultDisplayMode
            labelAttr="label" valueAttr="value" text="Display"}}
          </div>
        </div>
      </div>
    </div>
    <div class="viewer">
      <div class="atlas"></div>
    </div>
    <div class="sidebar">
      {{> reportPanel}}
    </div>
  </div>
</template>
