<template name="design">
  <div class="design container">
    <div class="sidebar">
      <div class="default panel">
        
        <!-- Entities -->
        <div class="entities title">
          <i class="building icon"></i>Objects
          <div class="ui inline mini loader"></div>
        </div>
        <div class="items entities">
          {{> collectionTable collection="Entities" items=entities settings=tableSettings}}
          <div class="extra menu">
            {{> dropdown name="entityDisplayMode" items=displayModes value=defaultEntityDisplayMode labelAttr="label" valueAttr="value"}}
            <a class="zoom item" title="Zoom to Entity">
              <i class="crosshairs icon"></i>
            </a>
          </div>
        </div>

        <!-- Typologies -->
        <div class="typologies title"><i class="sitemap icon"></i>Typologies</div>
        <div class="items typologies">
          {{> collectionTable collection="Typologies" items=typologies settings=tableSettings}}
          <div class="extra menu">
            <div class="ui button toggle pathway draw item" title="Draw a pathway with the selected typology."><i class="road icon"></i></div>
          </div>
        </div>

        <!-- Lots -->
        <div class="lots title"><i class="block layout icon"></i>Lots</div>
        <div class="items lots">
          {{> collectionTable collection="Lots" items=lots settings=tableSettings}}
          <div class="extra menu">
            {{> dropdown name="lotDisplayMode" items=lotDisplayModes value=defaultLotDisplayMode
            labelAttr="label" valueAttr="value"}}
            <div class="ui button filter item" title="Filter Lot Selection">
              <i class="filter icon"></i>
            </div>
            <a class="allocate item" title="Auto-allocate Typologies to selected Lots.">
              <i class="magic icon"></i>
            </a>
            <a class="amalgamate item" title="Amalgamate all contiguous, selected Lots.">
              <i class="compress icon"></i>
            </a>
            <div class="ui button toggle subdivide item" title="Subdivide selected Lots.">
              <i class="expand icon"></i>
            </div>
            <div class="ui button alignment item" title="Align typologies on the selected Lots to face the street.">
              <i class="refresh icon"></i>
            </div>
          </div>
        </div>

        <!-- Footprints -->
        <div class="layers title"><i class="content icon"></i>Footprints</div>
        <div class="content items layers">
          {{> collectionTable collection="Layers" items=layers settings=layerTableSettings}}
          <div class="extra menu">
            <a class="import item" title="Import Footprints">
              <i class="upload disk icon"></i>
            </a>
            {{> dropdown name="layerDisplayMode" items=layerDisplayModes labelAttr="label" valueAttr="value"}}
            <a class="zoom item" title="Zoom to Footprint">
              <i class="crosshairs icon"></i>
            </a>
          </div>
        </div>

      </div>
    </div>
    <div class="viewer">
      {{> legend}}
      <div class="atlas"></div>
    </div>
    <div class="sidebar">
      {{> reportPanel}}
    </div>
  </div>
</template>
