<template name="design">
  <div class="design container">
    <div class="sidebar">
      <div class="default panel">
        <div class="entities title"><i class="building icon"></i>Entities</div>
        <div class="items entities">
          {{> collectionTable collection="Entities" items=entities settings=tableSettings}}
          <div class="extra menu">
            {{> dropdown name="entityDisplayMode" items=displayModes value=defaultEntityDisplayMode labelAttr="label" valueAttr="value"}}
          </div>
        </div>
        <div class="typologies title"><i class="sitemap icon"></i>Types</div>
        <div class="items typologies">
          {{> collectionTable collection="Typologies" items=typologies settings=tableSettings}}
          <div class="extra menu">
            <div class="ui button toggle pathway draw item has-popup" title="Draw a pathway with the selected typology."><i class="road icon"></i></div>
          </div>
        </div>
        <div class="lots title"><i class="block layout icon"></i>Lots</div>
        <div class="items lots">
          {{> collectionTable collection="Lots" items=lots settings=tableSettings}}
          <div class="extra menu">
            {{> dropdown name="lotDisplayMode" items=lotDisplayModes value=defaultLotDisplayMode
            labelAttr="label" valueAttr="value"}}
            <a class="allocate item has-popup" title="Automatically allocate Typologies to
            empty Lots available for development."><i class="magic
            icon"></i></a>
            <a class="amalgamate item has-popup" title="Amalgamate all contiguous, selected Lots.">
              <i class="resize small icon"></i>
            </a>
            <div class="ui button toggle subdivide item has-popup" title="Subdivide selected Lots.">
              <i class="resize full icon"></i>
            </div>
            <div class="ui button alignment item has-popup" title="Align typologies on the selected Lots to face the street.">
              <i class="refresh icon"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="viewer">
      {{> legend}}
      <div class="atlas"></div>
    </div>
    <div class="sidebar">
      {{> reportPanel}}
    </div>
  </div>
</template>
