<template name="projects">
  <div class="projects">
    <div class="container">
      {{> loader text=""}}
      {{> collectionTable collection=projects collectionName='Projects' settings=tableSettings}}
    </div>
    <div class="footer container">
      <div class="text">This project was made possible with funding from the <a href="http://aurin.org.au/" target="_blank">Australian Urban Research Infrastructure Network (AURIN)</a> and development from <a href="http://mutopia.unimelb.edu.au/" target="_blank">MUtopia</a>, the <a href="http://unimelb.edu.au/" target="_blank">University of Melbourne</a>, <a href="http://www.curtin.edu.au/" target="_blank">Curtin University</a> and <a href="http://www.swinburne.edu.au/">Swinburne University</a>.
      </div>
      <div class="logos">
        <a href="http://aurin.org.au/" target="_blank"><img src="/images/aurin.png" /></a>
        <a href="http://www.crcsi.com.au/" target="_blank"><img src="/images/crcsi.png" /></a>
        <a href="http://mutopia.unimelb.edu.au/"
           target="_blank"><img src="/images/mutopia.png" /></a>
        <a href="http://unimelb.edu.au/" target="_blank"><img src="/images/unimelb.png" /></a>
        <a href="http://www.curtin.edu.au/" target="_blank"><img src="/images/curtin.png" /></a>
        <a href="http://www.swinburne.edu.au/"
           target="_blank"><img src="/images/swinburne.png" /></a>
      </div>
    </div>
  </div>
</template>
