[submodule "app/packages/cfs-s3"]
	path = app/packages/cfs-s3
	url = https://github.com/aramk/Meteor-cfs-s3.git
[submodule "app/packages/meteor-collection-hooks"]
	path = app/packages/meteor-collection-hooks
	url = https://github.com/aramk/meteor-collection-hooks.git
