[submodule "app/packages/cfs-s3"]
	path = app/packages/cfs-s3
	url = https://github.com/aramk/Meteor-cfs-s3.git
[submodule "app/public/design"]
	path = app/public/design
	url = https://bitbucket.org/urbanetic/atlas-resources.git
[submodule "app/packages/meteor-notifications"]
	path = app/packages/meteor-notifications
	url = https://github.com/aramk/meteor-notifications.git
[submodule "app/packages/meteor-file-upload"]
	path = app/packages/meteor-file-upload
	url = https://github.com/aramk/meteor-file-upload.git
[submodule "app/packages/atlas"]
	path = app/packages/atlas
	url = https://bitbucket.org/urbanetic/atlas.git
[submodule "app/packages/atlas-cesium"]
	path = app/packages/atlas-cesium
	url = https://bitbucket.org/urbanetic/atlas-cesium.git
[submodule "app/packages/meteor-atlas-util"]
	path = app/packages/meteor-atlas-util
	url = https://github.com/urbanetic/meteor-atlas-util.git
[submodule "app/packages/subdiv"]
	path = app/packages/subdiv
	url = https://github.com/urbanetic/subdiv.git
[submodule "app/packages/vega-charts"]
	path = app/packages/vega-charts
	url = https://github.com/aramk/vega-charts.git
[submodule "app/packages/bismuth-utility"]
	path = app/packages/bismuth-utility
	url = https://github.com/urbanetic/bismuth-utility.git
[submodule "app/packages/meteor-dropdown"]
	path = app/packages/meteor-dropdown
	url = https://github.com/aramk/meteor-dropdown.git
[submodule "app/packages/bismuth-schema-utility"]
	path = app/packages/bismuth-schema-utility
	url = https://github.com/urbanetic/bismuth-schema-utility
[submodule "app/packages/meteor-accounts-ui"]
	path = app/packages/meteor-accounts-ui
	url = https://github.com/urbanetic/meteor-accounts-ui.git
[submodule "app/packages/meteor-accounts-aurin"]
	path = app/packages/meteor-accounts-aurin
	url = https://github.com/urbanetic/meteor-accounts-aurin.git
[submodule "app/packages/meteor-routes"]
	path = app/packages/meteor-routes
	url = https://github.com/aramk/meteor-routes.git
[submodule "app/packages/meteor-aurin-acs"]
	path = app/packages/meteor-aurin-acs
	url = https://github.com/urbanetic/meteor-aurin-acs.git
[submodule "app/packages/meteor-utility"]
	path = app/packages/meteor-utility
	url = https://github.com/urbanetic/meteor-utility.git
[submodule "app/packages/bismuth-collection-utility"]
	path = app/packages/bismuth-collection-utility
	url = https://github.com/urbanetic/bismuth-collection-utility.git
[submodule "app/packages/meteor-collection-table"]
	path = app/packages/meteor-collection-table
	url = https://github.com/aramk/meteor-collection-table.git
