[submodule "app/packages/cfs-s3"]
	path = app/packages/cfs-s3
	url = https://github.com/aramk/Meteor-cfs-s3.git
[submodule "app/packages/meteor-collection-hooks"]
	path = app/packages/meteor-collection-hooks
	url = https://github.com/aramk/meteor-collection-hooks.git
[submodule "app/public/design"]
	path = app/public/design
	url = https://bitbucket.org/urbanetic/atlas-resources.git
[submodule "app/packages/meteor-notifications"]
	path = app/packages/meteor-notifications
	url = https://github.com/aramk/meteor-notifications.git
[submodule "app/packages/meteor-file-upload"]
	path = app/packages/meteor-file-upload
	url = https://github.com/aramk/meteor-file-upload.git
