<template name="entityForm">
  <div class="flex-panel crud form">
    <div class="title">Entity</div>
    <div class="content">
      <div class="inner">
        <div class="ui form segment">
          {{#autoForm collection=collection id=formName doc=doc type=formType settings=settings}}
            {{> afQuickField name="name"}}
            {{> afQuickField name="desc"}}
            <div class="form-group dropdown">
              {{> afFieldLabel name="typology"}}
              <!-- TODO(aramk) Refactor to use autoform field -->
              {{> dropdown name="typology" items=typologies value=doc.typology}}
            </div>

            <div class="subtitle">Space</div>
            <!-- TODO(aramk) Add same widget used in typology schema. -->
            <!--{{> afQuickField name="parameters.space.geom_2d"}}-->

            {{> afQuickField name="parameters.space.prpn_lawn"}}
            {{> afQuickField name="parameters.space.prpn_annu"}}
            {{> afQuickField name="parameters.space.prpn_hardy"}}
            {{> afQuickField name="parameters.space.prpn_imper"}}

            <div class="subtitle">Energy Demand</div>
            {{> afQuickField name="parameters.energy_demand.src_cook" options="allowed"}}
          {{> afQuickField name="parameters.energy_demand.type_app" options="allowed"}}
            {{> afQuickField name="parameters.energy_demand.size_pv"}}

            <div class="subtitle">Water Demand</div>
            {{> afQuickField name="parameters.water_demand.e_prpn_pot"}}
            {{> afQuickField name="parameters.water_demand.e_prpn_bore"}}
            {{> afQuickField name="parameters.water_demand.e_prpn_storm"}}
            {{> afQuickField name="parameters.water_demand.e_prpn_treat"}}
            {{> afQuickField name="parameters.water_demand.e_prpn_grey"}}

            <div class="subtitle">Orientation</div>
            {{> afQuickField name="parameters.orientation.azimuth"}}

            <div class="crud buttons">
              <button type="button" class="ui red cancel button">Cancel</button>
              <div class="spacer"></div>
              <button type="submit" class="ui button submit green">{{submitText}}</button>
            </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
