<template name="entityForm">
  <div class="flex-panel crud form">
    <div class="entities title"><i class="building icon"></i>Object</div>
    <div class="content">
      <div class="inner">
        <div class="ui form segment">
          {{#autoForm collection=collection id=formName doc=doc type=formType}}
            {{> afQuickField name="name"}}
            {{> afQuickField name="desc" rows=3}}

            <div class="form-group typology-input">
              <label class="control-label"><div class="value">Typology</div></label>
              <div>
                <input type="text" class="form-control" value="{{typologyName}}" disabled>
                <div class="ui icon mini button typology">
                  <i class="icon pencil"></i>
                </div>
              </div>
            </div>

            <div class="subtitle">Space</div>

            {{> afQuickField name="parameters.space.prpn_lawn"}}
            {{> afQuickField name="parameters.space.prpn_annu"}}
            {{> afQuickField name="parameters.space.prpn_hardy"}}
            {{> afQuickField name="parameters.space.prpn_imper"}}

            {{> afQuickField name="parameters.space.occupants"}}

            <div class="subtitle">Energy Demand</div>
            {{> afQuickField name="parameters.energy_demand.src_heat" options="allowed"}}
            {{> afQuickField name="parameters.energy_demand.cop_heat"}}
            {{> afQuickField name="parameters.energy_demand.eer_cool"}}
            {{> afQuickField name="parameters.energy_demand.src_cook" options="allowed"}}
            {{> afQuickField name="parameters.energy_demand.type_app" options="allowed"}}
            {{> afQuickField name="parameters.energy_demand.size_pv"}}

            <div class="subtitle">Water Demand</div>
            {{> afQuickField name="parameters.water_demand.rain_sys"}}
            {{> afQuickField name="parameters.water_demand.grey_sys"}}

            <div class="subtitle">Composition</div>
            {{> afQuickField name="parameters.composition.rd_width"}}
            {{> afQuickField name="parameters.composition.rd_mat" options="allowed"}}
            {{> afQuickField name="parameters.composition.prk_width"}}
            {{> afQuickField name="parameters.composition.prk_mat" options="allowed"}}
            {{> afQuickField name="parameters.composition.fp_width"}}
            {{> afQuickField name="parameters.composition.fp_mat" options="allowed"}}
            {{> afQuickField name="parameters.composition.bp_width"}}
            {{> afQuickField name="parameters.composition.bp_mat" options="allowed"}}
            {{> afQuickField name="parameters.composition.ve_width"}}

            <div class="subtitle">Orientation</div>
            {{> afQuickField name="parameters.orientation.azimuth"}}

            <div class="crud buttons">
              <button type="button" class="ui red cancel button">Cancel</button>
              <div class="spacer"></div>
              <button type="submit" class="ui button submit green">{{submitText}}</button>
            </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
