<template name="importForm">
  <div class="flex-panel panel asset crud form">
    <div class="title">Import Lots</div>
    <div class="content">
      {{> loader text="Uploading"}}
      <div class="inner">
        <div class="ui form segment">

          <form class="dropzone" action="http://infradev.eng.unimelb.edu.au/catalyst-server/assets/upload">
          </form>

          <!--<form class="ui form">-->
          <!--<div class="form-group">Import an ENVISION Shapefile as a ZIP archive to generate-->
          <!--Lots.-->
          <!--</div>-->

          <!--&lt;!&ndash; TODO(aramk) Using bootstrap for consistency with autoform for now. &ndash;&gt;
          -->
          <!--<div class="form-group">-->
          <!--<label class="control-label">File</label>-->
          <!--<input placeholder="Upload..." type="file">-->
          <!--</div>-->
          <!--<div class="form-group dropdown">-->
          <!--<label class="control-label">Format</label>-->
          <!--{{> dropdown name="format" items=formats valueAttr="extensions" labelAttr="label"-->
          <!--value=defaultFormat}}-->
          <!--</div>-->

          <div class="crud buttons">
            <button type="button" class="ui red cancel button">Cancel</button>
            <!--<div class="spacer"></div>-->
            <!--<button type="submit" class="ui button submit green">Import</button>-->
          </div>
          <!--</form>-->

        </div>
      </div>
    </div>
  </div>
</template>
