<template name="importForm">
  <div class="flex-panel panel asset crud form">
    <div class="title">Import Lots</div>
    <div class="content">
      <div class="inner">
        <div class="ui form segment">

          <!-- TODO(aramk) Integrate dropzone. -->
          <!--<form class="ui form dropzone"-->
          <!--action="http://localhost/catalyst-server/assets/upload"></form>-->

          <form class="ui form">
            <div class="field">
              <label>File</label>
              <input placeholder="Upload..." type="file">
            </div>
            <div class="field">
              <label>Format</label>
              {{> dropdown name="format" items=formats valueAttr="extensions" labelAttr="label"}}
            </div>

            <div class="buttons">
              <button type="button" class="ui red cancel button">Cancel</button>
              <div class="spacer"></div>
              <button type="submit" class="ui button submit green">Import</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</template>
