<template name="lotForm">
  <div class="flex-panel crud form">
    <div class="title">Lot</div>
    <div class="content">
      <div class="inner">
        <div class="ui form segment">
          {{#autoForm collection=collection id=formName doc=doc type=formType settings=settings}}
          {{> afQuickField name="name"}}
          {{> afQuickField name="desc"}}

          <!-- TODO(aramk) Hide this eventually. -->
          {{> afQuickField name="entity"}}

          <!--{{> afQuickField name="parameters.space.area"}}-->

          <div class="subtitle">General</div>
          {{> afFieldLabel name="parameters.general.class"}}
          {{> dropdown name="parameters.general.class" items=classes value=classValue}}
          {{> afQuickField name="parameters.general.develop"}}

          <div class="subtitle">Space</div>

          <label>Footprint</label>
          <div class="ui footprint tiny buttons">
            <div class="ui toggle create button {{isCreating}} {{canCreate}}">Create</div>
            <div class="ui toggle edit button {{isEditing}} {{canEdit}}">Edit</div>
            <div class="ui delete button {{canDelete}}">Delete</div>
          </div>
          <!-- TODO(aramk) -->
          <!--<label>Mesh</label>-->

          {{> afQuickField name="parameters.space.height"}}

          <div class="crud buttons">
            <button type="button" class="ui red cancel button">Cancel</button>
            <div class="spacer"></div>
            <button type="submit" class="ui button submit green">{{submitText}}</button>
          </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
