<template name="lotForm">
  <div class="flex-panel crud form">
    <div class="title">Lot</div>
    <div class="content">
      <div class="inner">
        <div class="ui form segment">
          {{#autoForm collection=collection id=formName doc=doc type=formType}}
            {{> afQuickField name="name"}}
            {{> afQuickField name="desc"}}

            {{#if forDev}}
              {{> afQuickField name="typology" type="dropdown" items=typologies allowEmpty=true schemaKey=false}}
            {{/if}}

            <div class="subtitle">General</div>
            {{> afQuickField name="parameters.general.class" type="dropdown" items=classes allowEmpty=true}}
            {{> afQuickField name="parameters.general.develop"}}

            <div class="subtitle">Space</div>

            <label>Footprint</label>

            <div class="ui footprint tiny buttons">
              <div class="ui toggle create button {{isCreating}} {{canCreate}}">Create</div>
              <div class="ui toggle edit button {{isEditing}} {{canEdit}}">Edit</div>
              <div class="ui delete button {{canDelete}}">Delete</div>
            </div>
            <!-- TODO(aramk) -->
            <!--<label>Mesh</label>-->

            {{> afQuickField name="parameters.space.height"}}

            <div class="crud buttons">
              <button type="button" class="ui red cancel button">Cancel</button>
              <div class="spacer"></div>
              <button type="submit" class="ui button submit green">{{submitText}}</button>
            </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
