<template name="projectForm">
  <div class="flex-panel panel crud form">
    <div class="title">{{formTitle}}</div>
    <div class="content">
      <div class="inner">
        <div class="ui form segment">
          {{#autoForm collection=collection id=formName doc=doc type=formType}}
          {{> afQuickField name="name"}}
          {{> afQuickField name="desc"}}
          {{#if isAdmin}}
            {{> afQuickField name="isTemplate"}}
          {{/if}}
          {{#if doc}}
            <div class="form-group">
              <label class="control-label"><div class="value">Author</div></label>
              <input type="text" class="form-control" value="{{authorName}}" disabled>
            </div>
          {{/if}}

          <div class="subtitle">Location</div>
          {{> afQuickField name="parameters.location.country" options="allowed"}}
          {{> afQuickField name="parameters.location.ste_reg"}}
          {{> afQuickField name="parameters.location.loc_auth"}}
          {{> afQuickField name="parameters.location.suburb"}}
          {{> afQuickField name="parameters.location.post_code"}}
          {{> afQuickField name="parameters.location.sa1_code"}}
          {{> afQuickField name="parameters.location.lat"}}
          {{> afQuickField name="parameters.location.lng"}}
          {{> afQuickField name="parameters.location.cam_elev"}}

          <div class="subtitle">Space</div>
          {{> afQuickField name="parameters.space.geom_2d"}}
          {{> afQuickField name="parameters.space.area"}}

          <div class="subtitle">Environment</div>
          {{> afQuickField name="parameters.environment.climate_zn"}}

          <div class="subtitle">Operating Carbon</div>
          {{> afQuickField name="parameters.operating_carbon.elec"}}
          {{> afQuickField name="parameters.operating_carbon.gas"}}

          <div class="subtitle">Renewable Energy</div>
          {{> afQuickField name="parameters.renewable_energy.pv_output"}}

          <div class="subtitle">Utilities</div>
          {{> afQuickField name="parameters.utilities.price_supply_elec"}}
          {{> afQuickField name="parameters.utilities.price_usage_elec"}}
          {{> afQuickField name="parameters.utilities.price_supply_gas"}}
          {{> afQuickField name="parameters.utilities.price_usage_gas"}}
          {{> afQuickField name="parameters.utilities.price_supply_water"}}
          {{> afQuickField name="parameters.utilities.price_usage_water"}}

          <div class="subtitle">Water</div>
          <div class="subsubtitle">External Water</div>
          {{> afQuickField name="parameters.external_water.demand_lawn"}}
          {{> afQuickField name="parameters.external_water.demand_ap"}}
          {{> afQuickField name="parameters.external_water.demand_hp"}}

          <div class="subsubtitle">Stormwater</div>
          {{> afQuickField name="parameters.stormwater.runoff_roof"}}
          {{> afQuickField name="parameters.stormwater.runoff_impervious"}}
          {{> afQuickField name="parameters.stormwater.runoff_pervious"}}
          {{> afQuickField name="parameters.stormwater.rainfall_intensity"}}

          <div class="subtitle">Financial</div>
          <div class="subsubtitle">Land</div>
          {{> afQuickField name="parameters.financial.land.price_land_r"}}
          {{> afQuickField name="parameters.financial.land.price_land_c"}}
          {{> afQuickField name="parameters.financial.land.price_land_mu"}}
          {{> afQuickField name="parameters.financial.land.price_land_os"}}
          {{> afQuickField name="parameters.financial.land.price_land_pw"}}
          {{> afQuickField name="parameters.financial.land.price_land_i"}}
          <div class="subsubtitle">Landscaping</div>
          {{> afQuickField name="parameters.financial.landscaping.price_lawn"}}
          {{> afQuickField name="parameters.financial.landscaping.price_annu"}}
          {{> afQuickField name="parameters.financial.landscaping.price_hardy"}}
          {{> afQuickField name="parameters.financial.landscaping.price_imper"}}
          <div class="subsubtitle">Residential</div>
          {{> afQuickField name="parameters.financial.residential.single_house_std"}}
          {{> afQuickField name="parameters.financial.residential.single_house_hq"}}
          {{> afQuickField name="parameters.financial.residential.attached_house_std"}}
          {{> afQuickField name="parameters.financial.residential.attached_house_hq"}}
          {{> afQuickField name="parameters.financial.residential.walkup_std"}}
          {{> afQuickField name="parameters.financial.residential.walkup_hq"}}
          {{> afQuickField name="parameters.financial.residential.highrise_std"}}
          {{> afQuickField name="parameters.financial.residential.highrise_hq"}}
          <div class="subsubtitle">Commercial</div>
          {{> afQuickField name="parameters.financial.commercial.retail.local"}}
          {{> afQuickField name="parameters.financial.commercial.retail.shopping"}}
          {{> afQuickField name="parameters.financial.commercial.office.low_rise"}}
          {{> afQuickField name="parameters.financial.commercial.office.med_rise"}}
          {{> afQuickField name="parameters.financial.commercial.hotel.three_star"}}
          {{> afQuickField name="parameters.financial.commercial.hotel.five_star"}}
          {{> afQuickField name="parameters.financial.commercial.supermarket"}}
          {{> afQuickField name="parameters.financial.commercial.restaurant"}}
          <div class="subsubtitle">Institutional</div>
          {{> afQuickField name="parameters.financial.institutional.school.primary"}}
          {{> afQuickField name="parameters.financial.institutional.school.secondary"}}
          {{> afQuickField name="parameters.financial.institutional.tertiary"}}
          {{> afQuickField name="parameters.financial.institutional.hospital.single_storey"}}
          {{> afQuickField name="parameters.financial.institutional.hospital.multi_storey"}}
          {{> afQuickField name="parameters.financial.institutional.public.low_rise_without_lifts"}}
          {{> afQuickField name="parameters.financial.institutional.public.med_rise_with_lifts"}}
          <div class="subsubtitle">Roads</div>
          {{> afQuickField name="parameters.financial.pathways.roads.price_full_asphalt"}}
          {{> afQuickField name="parameters.financial.pathways.roads.price_asphalt_cement"}}
          {{> afQuickField name="parameters.financial.pathways.roads.price_granular_spray"}}
          {{> afQuickField name="parameters.financial.pathways.roads.price_granular_asphalt"}}
          {{> afQuickField name="parameters.financial.pathways.roads.price_concrete_plain"}}
          {{> afQuickField name="parameters.financial.pathways.roads.price_concrete_reinforced"}}
          <div class="subsubtitle">Footpaths</div>
          {{> afQuickField name="parameters.financial.pathways.footpaths.price_concrete"}}
          {{> afQuickField name="parameters.financial.pathways.footpaths.price_block_paved"}}
          <div class="subsubtitle">Bicycle Paths</div>
          {{> afQuickField name="parameters.financial.pathways.bicycle_paths.price_asphalt"}}
          {{> afQuickField name="parameters.financial.pathways.bicycle_paths.price_concrete"}}
          <div class="subsubtitle">All Pathways</div>
          {{> afQuickField name="parameters.financial.pathways.all.price_verge"}}

          <div class="subtitle">Embodied Carbon</div>
          <div class="subsubtitle">Landscaping</div>
          {{> afQuickField name="parameters.embodied_carbon.landscaping.greenspace"}}
          {{> afQuickField name="parameters.embodied_carbon.landscaping.impermeable"}}
          <div class="subsubtitle">Pathways</div>
          {{> afQuickField name="parameters.embodied_carbon.pathways.roads.full_asphalt"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.roads.deep_asphalt"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.roads.granular_spray"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.roads.granular_asphalt"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.roads.concrete_plain"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.roads.concrete_reinforced"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.footpaths.concrete"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.footpaths.block_paved"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.bicycle_paths.asphalt"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.bicycle_paths.concrete"}}
          {{> afQuickField name="parameters.embodied_carbon.pathways.all.verge"}}

          <div class="subtitle">Energy</div>
          <div class="subsubtitle">Fitout</div>
          {{> afQuickField name="parameters.energy.fitout.en_elec_oven"}}
          {{> afQuickField name="parameters.energy.fitout.en_gas_oven"}}
          {{> afQuickField name="parameters.energy.fitout.en_basic_avg_app"}}
          {{> afQuickField name="parameters.energy.fitout.en_basic_hp_app"}}
          {{> afQuickField name="parameters.energy.fitout.en_aff_avg_app"}}
          {{> afQuickField name="parameters.energy.fitout.en_aff_hp_app"}}

          <div class="subtitle">Parking</div>
          {{> afQuickField name="parameters.parking.prk_area_veh"}}
          {{> afQuickField name="parameters.financial.parking.cost_ug_park"}}

          <div class="subtitle">Transport</div>
          {{> afQuickField name="parameters.transport.trips"}}
          {{> afQuickField name="parameters.transport.age"}}
          {{> afQuickField name="parameters.transport.gender"}}
          {{> afQuickField name="parameters.transport.hhsize"}}
          {{> afQuickField name="parameters.transport.totalvehs"}}
          {{> afQuickField name="parameters.transport.hhinc_grp"}}
          {{> afQuickField name="parameters.transport.distctr"}}
          {{> afQuickField name="parameters.transport.railprox" type="dropdown" items=railTypes}}
          {{> afQuickField name="parameters.transport.distbus"}}
          {{> afQuickField name="parameters.transport.lum_index"}}
          {{> afQuickField name="parameters.transport.density"}}
          {{> afQuickField name="parameters.transport.towork"}}

          <div class="crud buttons">
            <button type="button" class="ui red cancel button">Cancel</button>
            <div class="spacer"></div>
            <button type="submit" class="ui button submit green">{{submitText}}</button>
          </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
