<template name="projectForm">
  <div class="flex-panel panel crud form">
    <div class="title">{{formTitle}}</div>
    <div class="content">
      <div class="inner">
        <div class="ui form segment">
          {{#autoForm collection=collection id=formName doc=doc type=formType settings=settings}}
          {{> afQuickField name="name"}}
          {{> afQuickField name="desc"}}

          <div class="subtitle">General</div>
          {{> afQuickField name="parameters.general.creator"}}

          <div class="subtitle">Location</div>
          {{> afQuickField name="parameters.location.country" options="allowed"}}
          {{> afQuickField name="parameters.location.ste_reg"}}
          {{> afQuickField name="parameters.location.loc_auth"}}
          {{> afQuickField name="parameters.location.suburb"}}
          {{> afQuickField name="parameters.location.post_code"}}
          {{> afQuickField name="parameters.location.sa1_code"}}
          {{> afQuickField name="parameters.location.lat"}}
          {{> afQuickField name="parameters.location.lng"}}

          <!--<div class="subtitle">Space</div>-->
          <!--{{> afQuickField name="parameters.space.geom"}}-->
          <!--{{> afQuickField name="parameters.space.area"}}-->

          <div class="subtitle">Environment</div>
          {{> afQuickField name="parameters.environment.climate_zn"}}
          {{> afQuickField name="parameters.environment.vpsm"}}

          <div class="subtitle">Financial</div>
          {{> afQuickField name="parameters.financial.land_value"}}

          <div class="buttons">
            <button type="button" class="ui red cancel button">Cancel</button>
            <div class="spacer"></div>
            <button type="submit" class="ui button submit green">{{submitText}}</button>
          </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
