<template name="typologyForm">
  <div class="flex-panel crud form">
    <div class="title">Typology</div>
    <div class="content">
      <div class="inner">
        <div class="ui form segment">
          {{#autoForm collection=collection id=formName doc=doc type=formType settings=settings}}
          {{> afQuickField name="name"}}
          {{> afQuickField name="desc"}}

          <div class="subtitle">General</div>
          {{> afFieldLabel name="parameters.general.class"}}
          {{> dropdown name="parameters.general.class" items=classes value=classValue}}
          {{> afQuickField name="parameters.general.state"}}
          {{> afQuickField name="parameters.general.code"}}
          {{> afQuickField name="parameters.general.subclass"}}
          {{> afQuickField name="parameters.general.type"}}

          {{> afQuickField name="parameters.general.occupants"}}
          {{> afQuickField name="parameters.general.jobs"}}

          <div class="subtitle">Space</div>
          <label>Footprint</label>
          <div class="footprint-import">
            <div class="form-group">
              <label class="control-label">File</label>
              <input placeholder="Upload..." type="file">
            </div>
            <div class="form-group">
              <label class="control-label">Format</label>
              {{> dropdown name="format" items=formats valueAttr="extensions" labelAttr="label"
              value=defaultFormat}}
            </div>
            <button type="button" class="ui button submit green">Import</button>
          </div>
          
          {{> afQuickField name="parameters.space.geom_2d"}}
          {{> afQuickField name="parameters.space.geom_3d"}}

          {{> afQuickField name="parameters.space.prpn_lawn"}}
          {{> afQuickField name="parameters.space.prpn_annu"}}
          {{> afQuickField name="parameters.space.prpn_hardy"}}
          {{> afQuickField name="parameters.space.prpn_imper"}}

          <div class="subtitle">Energy</div>
          {{> afQuickField name="parameters.energy.en_heat"}}
          {{> afQuickField name="parameters.energy.src_heat" options="allowed"}}
          {{> afQuickField name="parameters.energy.en_cool"}}
          {{> afQuickField name="parameters.energy.src_cool" options="allowed"}}

          <!--<div class="subtitle">Environmental</div>-->
          <!--{{> afQuickField name="parameters.environmental.pav_prpn"}}-->
          <!--{{> afQuickField name="parameters.environmental.pav_area"}}-->
          <!--{{> afQuickField name="parameters.environmental.nat_prpn"}}-->
          <!--{{> afQuickField name="parameters.environmental.nat_area"}}-->
          <!--{{> afQuickField name="parameters.environmental.exo_prpn"}}-->
          <!--{{> afQuickField name="parameters.environmental.exo_area"}}-->
          <!--{{> afQuickField name="parameters.environmental.lawn_prpn"}}-->
          <!--{{> afQuickField name="parameters.environmental.lawn_area"}}-->

          <div class="crud buttons">
            <button type="button" class="ui red cancel button">Cancel</button>
            <div class="spacer"></div>
            <button type="submit" class="ui button submit green">{{submitText}}</button>
          </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
