<template name="typologyForm">
  <div class="flex-panel crud form">
    <div class="title">Typology</div>
    <div class="content">
      <div class="inner">
        <div class="ui form segment">
          {{#autoForm collection=collection id=formName doc=doc type=formType}}
            {{> afQuickField name="name"}}
            {{> afQuickField name="desc"}}

            <div class="subtitle">General</div>
            {{> afQuickField name="parameters.general.class" type="dropdown" items=classes}}

            <div class="fields">
              {{> afQuickField name="parameters.general.subclass" type="dropdown" items=subclasses}}
              {{> afQuickField name="parameters.general.state"}}
              {{> afQuickField name="parameters.general.code"}}
              {{> afQuickField name="parameters.general.type" options="allowed"}}
              {{> afQuickField name="parameters.general.climate_zn"}}

              <div class="subtitle">Space</div>
              <div class="geom">
                {{> afFieldLabel name="parameters.space.geom_2d"}}
                {{> importField name="parameters.space.geom_2d" filename="parameters.space.geom_2d_filename"}}
                {{> afFieldLabel name="parameters.space.geom_3d"}}
                {{> importField name="parameters.space.geom_3d" filename="parameters.space.geom_3d_filename"}}
              </div>

              <!-- Use hidden input fields and set values so they are saved on submit. -->
              <div style="display: none">
                {{> afQuickField name="parameters.space.geom_2d"}}
                {{> afQuickField name="parameters.space.geom_3d"}}
                {{> afQuickField name="parameters.space.geom_2d_filename"}}
                {{> afQuickField name="parameters.space.geom_3d_filename"}}
              </div>

              {{> afQuickField name="parameters.space.gfa"}}
              {{> afQuickField name="parameters.space.cfa"}}
              {{> afQuickField name="parameters.space.storeys"}}
              {{> afQuickField name="parameters.space.height"}}
              {{> afQuickField name="parameters.space.num_0br"}}
              {{> afQuickField name="parameters.space.num_1br"}}
              {{> afQuickField name="parameters.space.num_2br"}}
              {{> afQuickField name="parameters.space.num_3plus"}}

              {{> afQuickField name="parameters.space.prpn_lawn"}}
              {{> afQuickField name="parameters.space.prpn_annu"}}
              {{> afQuickField name="parameters.space.prpn_hardy"}}
              {{> afQuickField name="parameters.space.prpn_imper"}}

              {{> afQuickField name="parameters.space.occupants"}}
              {{> afQuickField name="parameters.space.job_intensity"}}

              <div class="subtitle">Composition</div>
              {{> afQuickField name="parameters.composition.rd_lanes"}}
              {{> afQuickField name="parameters.composition.rd_width"}}
              {{> afQuickField name="parameters.composition.rd_mat" options="allowed"}}
              {{> afQuickField name="parameters.composition.prk_lanes"}}
              {{> afQuickField name="parameters.composition.prk_width"}}
              {{> afQuickField name="parameters.composition.prk_mat" options="allowed"}}
              {{> afQuickField name="parameters.composition.fp_lanes"}}
              {{> afQuickField name="parameters.composition.fp_width"}}
              {{> afQuickField name="parameters.composition.fp_mat" options="allowed"}}
              {{> afQuickField name="parameters.composition.bp_lanes"}}
              {{> afQuickField name="parameters.composition.bp_width"}}
              {{> afQuickField name="parameters.composition.bp_mat" options="allowed"}}
              {{> afQuickField name="parameters.composition.ve_lanes"}}
              {{> afQuickField name="parameters.composition.ve_width"}}
              
              <div class="subtitle">Orientation</div>
              {{> afQuickField name="parameters.orientation.azimuth"}}

              <div class="subtitle">Energy Demand</div>
              {{> afQuickField name="parameters.energy_demand.src_heat" options="allowed"}}
              {{> afFieldInput name="parameters.orientation.eq_azmth_h" type="azimuthArray" label="Azimuth Heating Energy Array"}}
              {{> afFieldInput name="parameters.orientation.eq_azmth_c" type="azimuthArray" label="Azimuth Cooling Energy Array"}}
              {{> afQuickField name="parameters.energy_demand.en_heat"}}
              {{> afQuickField name="parameters.energy_demand.en_cool"}}
              {{> afQuickField name="parameters.energy_demand.en_light"}}
              {{> afQuickField name="parameters.energy_demand.src_hwat" options="allowed"}}
              {{> afQuickField name="parameters.energy_demand.en_hwat"}}

              <!-- NOTE: Fields from entity form. -->
              {{> afQuickField name="parameters.energy_demand.src_cook" options="allowed"}}
              {{> afQuickField name="parameters.energy_demand.type_app" options="allowed"}}
              {{> afQuickField name="parameters.energy_demand.size_pv"}}

              {{> afQuickField name="parameters.energy_demand.en_int_e"}}
              {{> afQuickField name="parameters.energy_demand.en_int_g"}}

              <div class="subtitle">Embodied Carbon</div>
              {{> afQuickField name="parameters.embodied_carbon.i_co2_emb"}}
              {{> afQuickField name="parameters.embodied_carbon.i_co2_emb_intensity"}}

              <div class="subtitle">Water Demand</div>
              {{> afQuickField name="parameters.water_demand.i_wu_pot"}}
              {{> afQuickField name="parameters.water_demand.i_wu_bore"}}
              {{> afQuickField name="parameters.water_demand.i_wu_rain"}}
              {{> afQuickField name="parameters.water_demand.i_wu_treat"}}
              {{> afQuickField name="parameters.water_demand.i_wu_grey"}}
              {{> afQuickField name="parameters.water_demand.i_wu_intensity"}}

              {{> afQuickField name="parameters.water_demand.e_prpn_pot"}}
              {{> afQuickField name="parameters.water_demand.e_prpn_bore"}}
              {{> afQuickField name="parameters.water_demand.e_prpn_storm"}}
              {{> afQuickField name="parameters.water_demand.e_prpn_treat"}}
              {{> afQuickField name="parameters.water_demand.e_prpn_grey"}}

              <div class="subtitle">Financial</div>
              {{> afQuickField name="parameters.financial.build_type" type="dropdown" items=buildTypes}}
              {{> afQuickField name="parameters.financial.cost_con"}}

              <div class="subtitle">Parking</div>
              {{> afQuickField name="parameters.parking.parking_ga"}}
              {{> afQuickField name="parameters.parking.parking_ug"}}
              {{> afQuickField name="parameters.parking.parking_rd"}}
              {{> afQuickField name="parameters.parking.parking_land"}}
            </div>

            <div class="crud buttons">
              <button type="button" class="ui red cancel button">Cancel</button>
              <div class="spacer"></div>
              <button type="submit" class="ui button submit green">{{submitText}}</button>
            </div>
          {{/autoForm}}
        </div>
      </div>
    </div>
  </div>
</template>
