<template name="mainLayout">
  <div class="ui main container">
    <div class="header">
      <div class="logo">ESP</div>
      <div class="state-name">{{stateName}}</div>
      {{#if project}}
      <div class="tools left">
        <div class="ui edit icon button" title="Edit Project"><i class="pencil icon"></i></div>
        <div class="ui import icon button"
             title="Import Lots"><i class="down circle icon"></i></div>
      </div>
      {{/if}}
      <div class="tools right">
        {{> helpButton}}
        {{#if project}}
        <div class="ui close icon button" title="Remove Project"><i class="remove icon"></i></div>
        {{/if}}
      </div>
    </div>
    <div class="content">
      {{> yield}}
    </div>
  </div>
</template>
