<template name="mainLayout">
  <div class="ui main container">
    <div class="header">
      <div class="logo">ESP</div>
      <div class="state-name">{{stateName}}</div>
      <div class="tools">
        {{#if project}}
        <div class="ui edit icon button"><i class="pencil icon"></i></div>
        <div class="ui close icon button"><i class="remove icon"></i></div>
        {{/if}}
        {{> helpButton}}
      </div>
    </div>
    <div class="content">
      {{> yield}}
    </div>
  </div>
</template>
