<template name="mainLayout">
  <div class="ui main container">
    <div class="header">
      <div class="logo">{{appName}}</div>
      <div class="state-name">{{stateName}}</div>
      {{#if project}}
      <div class="project tools left">
        <div class="ui edit icon button" title="Edit Project"><i class="pencil icon"></i></div>
        <div class="ui import icon button" title="Import Lots"><i class="down
        upload disk icon"></i></div>
        <div class="ui zoom icon button"
             title="Zoom To Project"><i class="crosshairs icon"></i></div>
      </div>
      {{/if}}
      <div class="project tools right">
        <!--{{> helpButton}}-->
        {{#if project}}
        <div class="ui close icon button" title="Close Project"><i class="remove icon"></i></div>
        {{/if}}
      </div>
    </div>
    <div class="content">
      {{> yield}}
    </div>
  </div>
</template>
