<template name="main">
  <div class="ui main container">
    <div class="sidebar">

      {{#if isDefaultPanel}}
      <div class="default panel">
        <!-- TODO(aramk) Use accordions. -->
        <div class="header">Entities</div>
        <div class="item entities">
          <table class="ui table segment"></table>
        </div>
        <div class="header">Typologies</div>
        <div class="item types">
          <div class="ui icon menu">
            <a class="add item">
              <i class="add icon"></i>
            </a>
          </div>
          <table class="ui table segment"></table>
        </div>
      </div>
      {{/if}}

      {{#if isTypologyPanel}}
      {{> typologyPanel}}
      {{/if}}

    </div>
    <div class="atlas"></div>
  </div>
</template>
