<template name="main">
  <div class="ui main container">
    <div class="sidebar">

      {{#if isDefaultPanel}}
      <div class="default panel">

        <!-- TODO(aramk) Remove? -->
        <div class="header">Static Features</div>
        <div class="item entities">
          <table class="ui table segment"></table>
        </div>

        <div class="header">Entities</div>
        <div class="item entities">
          <div class="ui icon menu">
            <a class="add item">
              <i class="add icon"></i>
            </a>
          </div>
          <table class="ui table segment">
            {{#each entities}}
            <tr><td>{{name}}</td></tr>
            {{/each}}
          </table>
        </div>

        <div class="header">Typologies</div>
        <div class="item typologies">
          <div class="ui icon menu">
            <a class="add item">
              <i class="add icon"></i>
            </a>
          </div>
          <table class="ui table segment">
            {{#each typologies}}
              <tr><td>{{name}}</td></tr>
            {{/each}}
          </table>
        </div>

      </div>
      {{/if}}

      {{#if isEntityPanel}}
      {{> entityPanel}}
      {{/if}}

      {{#if isTypologyPanel}}
      {{> typologyPanel}}
      {{/if}}

    </div>
    <div class="atlas"></div>
  </div>
</template>
