.asset.form {
  .dropzone .dz-default.dz-message {
    width: 100%;
    position: relative;
    height: 300px;
    margin: 0;
    padding: 0;
    top: inherit;
    left: inherit;
    text-align: center;
    font-size: 14px;
    color: #999;
    background-image: none;
    span {
      display: block;
    }
  }
}
