@color-orange: #fd7b00;
@color-blue: #074ea3;
@color-yellow: #e3bc00;

@color-highlight: #6ECFF5;
@color-highlight-light: lighten(@color-highlight, 10%);
@color-highlight-lighter: lighten(@color-highlight, 20%);
