@import 'color';
@import 'layout';
@import 'report';

.design.container {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  .sidebar {
    position: relative;
    width: 300px;
    flex-shrink: 0;
    .panel {
      position: absolute;
      height: 100%;
      width: 100%;
      background: white;
      top: 0;
      left: 0;
      overflow: auto;
      .ui.table {
        border-radius: 0;
      }
      .icon.menu {
        margin: 0;
        .item {
          padding: 0.5rem;
        }
      }
      .ui.form {
        box-shadow: none;
        -webkit-box-shadow: none;
        border-radius: 0;
        input {
          padding: 0.3rem 0.4rem !important;
          color: black !important;
        }
      }
    }
    .reactive-table {
      margin: 0;
      margin-bottom: 10px;
      box-shadow: 0 -1px 0 0 @color-line-1;
    }
    .title {
      background: @color-blue-grey-30;
      color: #000;
      padding: 8px;
      padding-bottom: 6px;
      border-bottom: 3px solid @color-blue-grey-50;
      .icon {
        font-size: 1.4rem;
      }
    }
    .reactive-table-filter {
      width: 100px;
    }
    .entities.title {
      background: @color-yellow-70;
      border-bottom-color: @color-yellow;
    }
    .typologies.title {
      background: @color-green-70;
      border-bottom-color: @color-green;
    }
    .lots.title {
      background: @color-blue-50;
      border-bottom-color: @color-blue-70;
    }
    .reports.title {
      background: @color-teal-50;
      border-bottom-color: @color-teal-70;
    }
  }
  .viewer {
    flex-grow: 1;
    height: auto;
    background: black;
    overflow: hidden;
    position: relative;
    > .legend {
      background: rgba(255, 255, 255, 0.8);
      position: absolute;
      color: #555;
      top: 10px;
      left: 10px;
      z-index: 1;
      > ul {
        list-style: none;
        padding: 10px;
        margin: 0;
        li {
          .color {
            background-color: #009cff;
            width: 14px;
            height: 8px;
            display: inline-block;
            margin-right: 5px;
            border: 1px solid rgba(0, 0, 0, 0.25);
          }
          > * {
            vertical-align: middle;
          }
        }
      }
    }
    .atlas {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      .popup {
        background: white;
        color: black;
        min-width: 200px;
        .body {
          table {
            width: 100%;
            td:first-child {
              padding-right: 5px;
            }
            td:last-child {
              text-align: right;
            }
          }
          .units {
            float: none;
          }
        }
      }
    }
  }
}

.draggable-typology {
  position: fixed;
  font-size: 3rem;
  z-index: 10000;
  height: 45px;
  width: 32px;
  background: url('/images/typology-pin.png') no-repeat;
}

.azimuth-array {
  table {
    td {
      padding: 0;
      margin: 0;
      &, input {
        text-align: center;
      }
    }
  }
}

.typology-input {
  > div {
    display: inline-block;
    width: 100%;
    > input[type="text"] {
      width: 90% !important;
    }
    .typology.button {
      float: right;
      margin: 0;
    }
  }
}
