@import 'layout';

.project-size {
  .full-screen-panel;
  margin-top: 30px;
  margin-bottom: 30px;
}

.projects {
  width: 100%;
  .container {
    .project-size;
    tfoot {
      font-size: 11px;
    }
  }
  .logos {
    text-align: center;
    img {
      height: 40px;
      margin: 0 20px;
    }
  }
}
