.reports {
  .ui.menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    .item {
      &, > * {
        border-radius: 0 !important;
        box-shadow: none !important;
        border: none !important;
      }
      &.no-padding {
        padding: 0;
      }
    }
    .dropdown-container {
      display: flex;
      flex-grow: 1;
    }
    .dropdown {
      flex-grow: 1;
      .text {
        float: left;
      }
      .dropdown.icon {
        float: right;
      }
      .menu .item {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
}

@report-field-padding: 8px;
.report {
  .field {
    display: inline-block;
    width: 100%;
    .label {
      &, .content {
        float: left;
      }
      .units {
        margin-left: 5px;
      }
    }
    .label, .value {
      padding: @report-field-padding;
      padding-top: 0;
    }
    .value {
      float: right;
      padding-left: 0;
    }
    &:first-child {
      .label, .value {
        padding-top: @report-field-padding;
      }
    }
  }
  .subtitle {
    margin-bottom: @report-field-padding !important;
  }
  .header {
    height: 30px;
  }
}

.reports.panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .header {
    flex-shrink: 0;
    .ui.menu .item:before {
      display: none;
    }
    .tools .button {
      // Popup adds .visible which is display: block;
      display: inline-block !important;
    }
  }
  .content {
    flex-grow: 1;
    overflow: auto;
  }
}

.report, .reports.panel {
  .header .info {
    padding: 6px;
    color: #999;
    text-align: center;
  }
}
.reports.panel {
  .header .info {
    border-bottom: 1px solid #ddd;
  }
}
