html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

.main.container {

  height: 100%;
  display: flex;
  flex-direction: row;

  .sidebar {
    position: relative;
    width: 300px;
    .header {
      padding: 10px;
      font-size: 14px;
    }
    .icon.menu {
      .item {
        padding: 0.5rem;
      }
    }
  }

  > .atlas {
    flex-grow: 1;
    background: black;
    color: white;
    height: 100%;
  }

  .table {
    tr {
      td:first-child {
        .ui.checkbox {
          width: 15px;
        }
        width: 15px;
      }
      &.heading td {
        background: #ccc;
      }
    }
    .extra.buttons {
      > * {
        float: right;
      }
      .ui.button {
        padding: 0 3px;
        background: none;
        border: none;
        box-shadow: none;
      }
    }
  }

}
