@import 'color';
@import 'layout';

html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  width: 100%;
  height: 100%;
}

// Disable elastic scrolling for the desktop.
html {
  overflow: hidden;
}

body {
  overflow: auto;
  // Allow elastic scrolling in iOS.
  -webkit-overflow-scrolling: touch;
}

.main.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  .header {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    .logo {
      color: @color-orange;
      display: inline-block;
      font-size: 20px;
      font-weight: bold;
    }
    .help.button {
      float: right;
      padding: 0.4rem;
    }
  }
  .content {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    .sidebar {
      position: relative;
      width: 300px;
      flex-shrink: 0;
      overflow: hidden;
      .panel {
        position: absolute;
        height: 100%;
        width: 100%;
        background: white;
        .ui.table {
          border-radius: 0;
        }
        .icon.menu {
          margin: 0;
          .item {
            padding: 0.5rem;
          }
        }
        .ui.form {
          box-shadow: none;
          -webkit-box-shadow: none;
          border-radius: 0;
          input {
            padding: 0.3rem 0.4rem !important;
          }
        }
      }
      .title {
        padding: 10px;
        font-size: 14px;
        background: #ddd;
        box-shadow: 0 0 0 1px @color-line-3;
      }
      .subtitle {
        padding: 8px;
        background: #eee;
        font-size: 13px;
        margin-bottom: 10px;
      }
      .table {
        tr {
          td:first-child {
            .ui.checkbox {
              width: 15px;
            }
            width: 15px;
          }
          &.heading td {
            background: #ccc;
          }
        }
        .extra.buttons {
          > * {
            float: right;
          }
          .ui.button {
            padding: 0 3px;
            background: none;
            border: none;
            box-shadow: none;
          }
        }
      }
      .reactive-table-filter {
        padding: 4px;
        .reactive-table-input {
          padding: 0.3rem;
        }
      }
      .reactive-table {
        margin: 0;
        margin-bottom: 10px;
        box-shadow: 0 -1px 0 0 @color-line-1;
        tfoot {
          display: none;
        }
      }
      table.selectable {
        tbody tr {
          .unselectable;
          cursor: pointer;
          &:hover td {
            background: @color-highlight-lighter !important;
          }
          &.selected td {
            background: @color-highlight-light !important;
          }
        }
      }
      .ui.menu.toolbar {
        margin: 0;
      }
    }
    .viewer {
      flex-grow: 1;
      height: auto;
      background: black;
      color: white;
      overflow: hidden;
    }
  }
}

.flex-panel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 100%;
  .title {
    flex-shrink: 0;
  }
  .content {
    flex-grow: 1;
    overflow: auto;
    margin: 0;
    padding: 0;
  }
  .buttons {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    padding: 5px;
    border: 1px solid #ccc;
    .button {
      padding: 8px;
    }
    .spacer {
      flex-grow: 1;
    }
  }
}

.crud.form {
  form {
    width: 100%;
    padding: 0;
    padding-top: 10px;
    > * {
      padding: 0 10px;
      margin-bottom: 10px;
    }
    label {
      .value {
        float: left;
      }
    }
  }
}

.units {
  float: left;
  margin-left: 5px;
  color: #999;
  &::before {
    content: '(';
  }
  &::after {
    content: ')';
  }
}

.ui.popup {
  &, &:before {
    background-color: @color-tooltip;
  }
}

.reports {
  .ui.menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    .item {
      &, > * {
        border-radius: 0 !important;
        box-shadow: none !important;
      }
      &.no-padding {
        padding: 0;
      }
    }
    .dropdown-container {
      display: flex;
      flex-grow: 1;
    }
    .dropdown {
      flex-grow: 1;
      .text {
        float: left;
      }
      .dropdown.icon {
        float: right;
      }
      .menu .item {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
}

.report {
  .field {
    display: inline-block;
    width: 100%;
    .label {
      &, .content {
        float: left;
      }
    }
    .label, .value {
      padding: 8px;
    }
    .value {
      float: right;
      padding-left: 0;
    }
  }
  .subtitle {
    margin-bottom: 0 !important;
  }
}
