<template name="reportPanel">
  <div class="reports panel">
    <div class="title">Reports</div>
    <div>
      <!--{{#each reports}}-->
      <!--{{template}}-->
      <!--{{/each}}-->
      {{> dropdown name="report" items=reports}}
      <div class="ui refresh button icon">
        <i class="refresh icon"></i>
      </div>
    </div>
    <div class="items reports">
      <!-- TODO(aramk) Temporary - remove. -->
      <!--<div class="ui button blue evaluate">Evaluate</div>-->

      <!--{{> openSpaceReport}}-->

    </div>
  </div>
</template>
